body {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

.winner {
    color: green;
    font-weight: bold;
}

.loser {
    color: red;
    font-weight: bold;
}

@media ( max-width: 600px){
    .instructions {
        display: none;
    }
    .h1, h1 {
        font-size: 2rem;
        margin: 0;
    }

    .h2, h2 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
    .h4, h4 {
        font-size: 1.2rem;
    }

    .col-lg-4 {
        margin-bottom: 5px;
    }
}