body {
    margin: 10px;
    /* background: url(/assets/images/photo-1475965894430-b05c9d13568a.jpg); */
}

* {
    box-sizing: border-box;
}

.winner {
    color: yellow;
    font-weight: bold;
}

.loser {
    color: red;
    font-weight: bold;
}

@media ( max-width: 600px){
    .instructions {
        display: none;
    }

}